!
hostname {{ hostname }}
!
enable secret cisco123
!
no ip domain-lookup
!
{% for vlan in vlans %}
interface GigabitEthernet0/0.{{ vlan.vlan }}
 encapsulation dot1Q {{ vlan.vlan }}
 ip address {{ vlan.gateway }} {{ vlan.mask }}
!
{% endfor %}
{% for link in wan_links %}
interface Serial0/0/{{ loop.index0 }}
 ip address {{ link.hq_ip }} 255.255.255.252
 no shutdown
!
{% endfor %}
router ospf 1
{% for vlan in vlans %}
 network {{ vlan.network }} {{ vlan.wildcard }} area 0
{% endfor %}
{% for link in wan_links %}
 network {{ link.network }} 0.0.0.3 area 0
{% endfor %}
!
{% for vlan in vlans %}
ip dhcp pool {{ vlan.department_clean }}_POOL
 network {{ vlan.network }} {{ vlan.mask }}
 default-router {{ vlan.gateway }}
 dns-server 8.8.8.8
!
{% endfor %}
{% for line in acl %}
{{ line }}
{% endfor %}
!
{% if has_vpn %}
crypto isakmp policy 10
 encr aes
 authentication pre-share
 group 2
crypto isakmp key vpnkey123 address 0.0.0.0
crypto ipsec transform-set TSET esp-aes esp-sha-hmac
{% for link in wan_links %}
crypto map VPNMAP {{ loop.index0 + 10 }} ipsec-isakmp
 set peer {{ link.branch_ip }}
 set transform-set TSET
 match address 100
{% endfor %}
!
{% endif %}
line con 0
 password cisco
 login
line vty 0 4
 password cisco
 login
!
end
